@import url("https://cdnjs.cloudflare.com/ajax/libs/draft-js/0.10.5/Draft.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@keyframes spinner {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

.DraftEditor-root {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.DraftEditor-root div[role="textbox"] {
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	min-height: 400px;
	overflow-y: scroll;
	padding: 10px;
}

.disabled {
	pointer-events: none;
	position: relative;
}
.disabled::before {
	background-color: rgba(0, 0, 0, 0.25);
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 5;
}

.editor-menu {
	margin-bottom: 25px;
}
.editor-menu > * + * {
	margin-left: 25px;
}

.editor-root {
	flex-grow: 1;
	position: relative;
}

.editor-root svg {
	background-color: #f9f9f9;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.flex-column {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	width: 100%;
}

.form-control.inline {
	display: inline-block;
	width: auto;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text {
	font: 12px sans-serif;
}

.spinner {
	animation: spinner 2s linear infinite;
	height: 100px;
	width: 100px;
}
